#menu a {
    font-size: 16px;
    font-weight: bold;
    color: #1f1d1d;
    }


body{
    background-image: url(./fondo5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer{
    background: #000000;
    min-height: 30px;
}

span {
    color: #0d427a;
}

footer p{
    color: white;
    text-align: center;
}

#iconos i{
    font-size: 26px;
    padding: o 8px;
    color: white;
}

@media (max-width:768px){
    #intro{
        width: 90% !important;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
}

@media (max-width: 576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

title{
    text-align: center;
    font-size: 40px;
    color: black;
    margin-top: 100px;
    font-weight: 100;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 400px;
    height: 425px;
    border-radius: 1px;
    box-shadow: 0 2px 2px rgb(0, 0, 2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-18px);
    box-shadow: 0 20px 20px rgb(61, 3, 255);
    
}

.container .card img{
    width: 400px;
    height: 445px;
}

.container .card h4{
    font-weight: 600;
}


.container .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}